{% extends 'base.html.twig' %}

{% set fullHeader = true %}

{% block content %}
    <!-- Key Facts -->

    <div class="max-w-5xl mx-auto px-8 py-16" id="fakten">
        <h2 class="pb-16 text-6xl text-brand-default">Fakten.</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for fact in content.facts %}
                <div class="p-8 border-4 border-secondary-light rounded-xl aspect-square flex flex-col items-start justify-between bg-white">
                    <div class="text">{{ fact.body | raw }}</div>
                    <div class="text-2xl font-medium text-brand-default">{{ fact.title }}.</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Milestones -->

    <div class="pt-16 pb-32" id="meilensteine">
        <div class="max-w-5xl mx-auto px-8 text-right">
            <h2 class="pb-16 text-6xl text-brand-default">Mein Weg.</h2>
        </div>
        <div class="bg-brand-default heropattern-floatingcogs-secondary-light">
            <div class="max-w-5xl mx-auto flex justify-center sm:justify-end mt-32">
                <div class="max-w-xl -mt-32 -mb-16 px-8 rounded-xl">
                    <div class="p-8 border-4 border-secondary-light rounded-xl bg-white">
                        <ul role="list" class="-mb-8 text-sm">
                            {% for milestone in content.milestones %}
                                <li>
                                    <div class="relative pb-8">
                                        {% if not loop.last %}
                                            <span class="absolute left-6 top-6 -ml-px h-full w-0.5 bg-secondary-light" aria-hidden="true"></span>
                                        {% endif %}
                                        <div class="relative flex items-start space-x-4">
                                            <div class="relative">
                                                <img alt="{{ milestone.name }}, {{ milestone.location }}" class="flex w-12 h-auto rounded-md justify-center ring-8 ring-white" src="{{ asset(milestone.logo) }}">
                                            </div>
                                            <div class="min-w-0 flex-1">
                                                <div class="font-medium">
                                                    <div>{{ milestone.name}}, {{ milestone.location }}</div>
                                                    <div class="mt-0 text-brand-default">
                                                        {{ milestone.period }}
                                                    </div>
                                                </div>
                                                <div class="mt-4">
                                                    <span class="font-medium">{{ milestone.tagline }}</span>

                                                    {{ milestone.body | raw | nl2br }}<br/><br/>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->

    <div class="max-w-5xl mx-auto px-8 py-16" id="kontakt">
        <h2 class="pb-16 text-6xl text-brand-default">Auf ein Wort.</h2>
        {{ form_start(contactForm, { 'action': path('app_homepage'), 'attr': { 'class': 'p-8 border-4 border-secondary-light rounded-xl bg-white' } }) }}
            {{  form_errors(contactForm) }}
            <div class="grid grid-cols-2 gap-4">
                <div>
                    {{ form_label(contactForm.name, null, { 'label_attr': { 'class': 'block text-sm font-medium' } }) }}
                    <div class="mt-2">
                        {{ form_widget(contactForm.name, { 'attr': { 'class': 'block w-full px-4 py-2 rounded-xl border-1 border-secondary-light focus:border-brand-default focus:ring-0' } }) }}
                    </div>
                </div>
                <div>
                    {{ form_label(contactForm.email, null, { 'label_attr': { 'class': 'block text-sm font-medium' } }) }}
                    <div class="mt-2">
                        {{ form_widget(contactForm.email, { 'attr': { 'class': 'block w-full px-4 py-2 rounded-xl border-1 border-secondary-light focus:border-brand-default focus:ring-0' } }) }}
                    </div>
                </div>
                <div class="col-span-2">
                    {{ form_label(contactForm.message, null, { 'label_attr': { 'class': 'block text-sm font-medium' } }) }}
                    <div class="mt-2">
                        {{ form_widget(contactForm.message, { 'attr': { 'class': 'block w-full px-4 py-2 rounded-xl border-1 border-secondary-light focus:border-brand-default focus:ring-0' } }) }}
                        {{ form_help(contactForm.message) }}
                    </div>
                </div>
            </div>
            <div class="mt-8 text-right -mb-14">
                {{ form_widget(contactForm.submit, { 'attr': {  'class': 'px-4 py-2 rounded-xl text-lg border-2 border-secondary-light font-medium ring-8 ring-white bg-brand-highlight hover:bg-brand-default text-white hover:text-white' } }) }}
            </div>
        {{ form_end(contactForm) }}
    </div>
{% endblock %}