<!doctype html>

<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
            <meta property="description" content="iOS- & Web-Entwickler, IT-Dienstleister, 3D-Drucker und Vermieter von Filmfahrzeugen." />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="https://www.marcelkraus.de" />
            <meta property="og:title" content="Marcel Kraus aus Erftstadt bei Köln" />
            <meta property="og:description" content="iOS- & Web-Entwickler, IT-Dienstleister, 3D-Drucker und Vermieter von Filmfahrzeugen." />
        {% endblock %}
        <link rel="stylesheet" href="/css/output.css">
        <title>{% block title %}Marcel Kraus — Dienstleister, Vater und Nerd{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        {% block javascript %}
            <script>
                var _paq = window._paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(["disableCookies"]);
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                var u="https://matomo.marcelkraus.de/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '10']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
            </script>
        {% endblock %}
    </head>
    <body class="bg-sky-5 heropattern-texture-sky-3 text-white" id="top">
        {% for message in app.flashes('success') %}
            <div class="max-w-5xl mx-auto px-8">
                <div class="mt-16 sm:ml-40 p-4 leading-relax border border-gray-1 rounded-xl bg-white/25 shadow-lg shadow-sky-2/25">
                    <div class="font-medium">Das hat… geklappt!</div>
                    <div>Vielen Dank für deine Nachricht! Ich werde mich zeitnah mit dir in Verbindung setzen.</div>
                </div>
            </div>
        {% endfor %}
        <header class="max-w-5xl mx-auto px-8 py-16">
            <div class="flex items-center gap-8">
                <a href="{{ path('app_homepage') }}"><img alt="Avatar von Marcel Kraus aus Erftstadt" class="w-32 aspect-square rounded-full ring-4 sm:ring-8 ring-white" src="{{ asset('images/marcelkraus.jpg') }}"/></a>
                <div class="flex flex-col gap-2 font-medium sm:font-light">
                    <h1 class="text-2xl sm:text-6xl">Marcel Kraus</h1>
                    <p class="text-lg sm:text-3xl">
                        Dienstleister, Vater und Nerd</p>
                </div>
            </div>
            {% if fullHeader %}
                <div class="mt-16 sm:pl-40">
                    <div class="flex flex-col gap-8 text-2xl sm:text-4xl leading-relax font-serif">
                        <p class="text-sky-2">
                            <span class="border-b-2 border-sky-2 pb-2">Hallo Welt!</span>
                        </p>
                        <p>Ich bin Marcel. Seit 2001 bringe ich dich ins Internet und seit 2017 auch in den App Store.</p>
                        <p>Was kann ich für dich tun?</p>
                    </div>
                </div>
                <div class="mt-16 -mb-28 sm:pl-40 text-center">
                    <a class="inline-block px-16 py-8 rounded-xl text-2xl font-medium ring-8 ring-white bg-sky-3 hover:bg-sky-5 text-white" href="{{ path('app_homepage') }}#kontakt">Sag's mir per Mail!</a>
                </div>
            {% endif %}
        </header>
        <main class="bg-white heropattern-topography-sky-2 pt-[7.5rem]">
            {% block content %}{% endblock %}
        </main>
        <footer class="max-w-5xl mx-auto px-8 py-16 text-xs">
            <div class="grid grid-cols-3 gap-8 items-center">
                <a href="https://krausgedruckt.de"><img alt="Logo von krausgedruckt.de, einem Projekt von Marcel Kraus" class="max-h-12 w-full object-contain" src="{{ asset('images/partner/krausgedruckt.png') }}" /></a>
                <a href="https://www.jurassicjeep.de"><img alt="Logo von Jurassic Jeep, einem Projekt von Marcel Kraus" class="max-h-12 w-full object-contain" src="{{ asset('images/partner/jurassic-jeep.png') }}" /></a>
                <a href="https://www.myknight.de"><img alt="Logo von myKNIGHT, einem Projekt von Marcel Kraus" class="max-h-12 w-full object-contain" src="{{ asset('images/partner/myknight.png') }}" /></a>
            </div>
            <div class="mt-16 pt-4 border-t border-white flex flex-col sm:flex-row gap-2 justify-center sm:justify-between">
                <div class="flex gap-2 justify-center sm:justify-start">
                    <span class="font-medium">© 2024-{{ "now" | date("Y") }} Marcel Kraus, Erftstadt</span>
                </div>
                <div class="flex gap-2 justify-center sm:justify-end">
                    <a class="hover:underline" href="{{ path('app_imprint') }}">Impressum</a>
                    <a class="hover:underline" href="{{ path('app_data_privacy') }}">Datenschutz</a>
                </div>
            </div>
        </footer>
    </body>
</html>
